.world {
  background-color: #7c4eff;
}

.politics {
  background-color: #419488;
}

.business {
  background-color: #4696ec;
}

.technology {
  background-color: #cedc39;
}

.sports {
  background-color: #f6c244;
}

.health {
  background-color: #6e757c;
}

.guardian {
  background-color: #14284a;
}

.nytimes {
  background-color: #dddddd;
}